.container {
  width: 100%;
  background-color: #f9f9f9;
  /* Example background color */
  padding: 20px;
  /* Adjust padding as needed */
}


.reviewSectionWrapper {
  overflow-x: auto;
  /* Enable horizontal scrolling */
  white-space: nowrap;

}

.reviewSection {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  /* Add margin between review boxes */
  display: inline-block;
  /* Display review boxes inline */
  width: 400px;
  /* Adjust width as needed */
  height: 300px;
  /* Adjust height as needed */
  box-sizing: border-box;
  vertical-align: top;
  /* Align review boxes at the top */
  overflow-x:hidden;
  /* Enable vertical scrolling for long text */
}

.reviewText {
  font-size: 1.2rem;
  word-wrap: break-word;
  /* Allow long words to break and wrap */
}

.username {
  font-size: 1rem;
  font-style: italic;
}