.Title {
    margin: 70px 40px;
    font-size: 25px;
  
    font-weight: bold;
}
.categories-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #f0f0f0;
    gap: 20px;
    padding: 20px;
  }
  
  .category h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .topic {
    margin-bottom: 5px;
    font-size: 0.9rem;
  }
  
  .topic span {
    display: block;
  }
  
  .topic span:first-child {
    font-weight: bold;
  }
  